@model VisualizarSalasViewModel;

@{
    ViewBag.Titulo = "Visualização de Salas";

    var notificacao = ViewData[nameof(NotificacaoViewModel)] as NotificacaoViewModel;
}

@if (User.IsInRole("Empresa"))
{
    <p>
        <a class="btn btn-primary px-4" asp-action="Cadastrar" data-se="btnCadastrar">
            <i class="bi bi-plus"></i>
            Cadastrar Novo/a
        </a>
    </p>

    <hr />
}

@if (notificacao is not null)
{
    <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
        <h6>@notificacao.Titulo</h6>
        @notificacao.Mensagem
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="row g-1">
    @foreach (var registro in Model.Registros)
    {
        <div class="col-12 col-md-3 d-flex">
            <div class="card border-0 flex-fill">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title"># @registro.Numero</h5>

                    <p class="card-text mb-0">
                        <span class="fw-semibold">Capacidade:</span> @registro.Capacidade
                    </p>

                    <div class="mt-auto d-flex gap-1 justify-content-end">
                        <a asp-action="Detalhes" asp-route-id="@registro.Id" class="btn btn-secondary rounded-circle card-option" title="Detalhes">
                            <i class="bi bi-search"></i>
                        </a>
                        <a asp-action="Editar" asp-route-id="@registro.Id" class="btn btn-primary rounded-circle card-option" title="Edição">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-action="Excluir" asp-route-id="@registro.Id" class="btn btn-danger rounded-circle card-option" title="Exclusão">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>